<div ng-controller="PatternFieldController">
  <%= form_for(@pattern) do |f| %>
    <% if @pattern.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@pattern.errors.count, "error") %> prohibited this pattern from being saved:</h2>

        <ul>
        <% @pattern.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <b>Content</b>
    <p>
      <small>
        Your changes are saved automatically as you change the pattern.
      </small>
    </p>
    <div class="pattern-container pattern-container-big">

      <input  type="hidden"
              ng-model="patternId"
              ng-init="patternId=<%= @pattern.id || 0 %>"
              id="pattern-id"
              value="<%= @pattern.id || 0 %>"
      />

      <div ng-repeat="line in content">
        <div class="pattern-row">
          <div class="pattern-cell pattern-cell-{{cellClassState(cell)}}"
              ng-repeat="cell in line"
              ng-click="toggleCell($parent.$index, $index)" >
            &nbsp;
          </div>
        </div>
        <br style="clear: both"/>
      </div>
    </div>

  <% end %>

</div>
