<h2>Show – Let's guess the pattern</h2>

<% action_nav = capture do %>
<br class="clearfix" />

<div class="btn-group">
  <%= link_to 'Listing', patterns_path, class: 'btn btn-default' %>
  <%= link_to 'Edit', edit_pattern_path(@pattern), class: 'btn btn-primary' %>
  <%= link_to 'Destroy', @pattern,  class: 'btn btn-danger',
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</div>

<br class="clearfix" />
<% end %>

<%= action_nav %>

<p id="notice"><%= notice %></p>

<div>
  <strong>Content:</strong>
  <small class="text-left">Just for reference. IMMUTABLE. </small>
  <div class="pattern-container pattern-container-big">
    <%= render partial: 'patterns/pattern_preview',
               locals: {pattern_content: @pattern.content} %>
  </div>
</div>

<div>
  <strong>Guess state:</strong>
  <div ng-controller="PatternGuessController">
    <div class="pattern-container pattern-container-big">

      <input  type="hidden"
              ng-model="patternId"
              ng-init="patternId=<%= @pattern.id %>"
              id="pattern-id"
              value="<%= @pattern.id %>"
      />

      <div ng-repeat="line in guessState">
        <div class="pattern-row">
          <div class="pattern-cell pattern-cell-{{cellClassState(cell)}}"
              ng-repeat="cell in line"
              ng-click="toggleCell($parent.$index, $index)" >
            &nbsp;
          </div>
        </div>
        <br style="clear: both"/>
      </div>
    </div>
  </div>
</div>

<div class="modal face" id="successModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Successful step!</h4>
      </div>
      <div class="modal-body">
        You've just matched the original pattern.
        Let's <%= link_to 'create new pattern',
                          url_for(  action: :create,
                                    pattern: {create: :auto}
                          ),
                          method: :post %>
      </div>
    </div>
  </div>
</div>

<%= action_nav %>
