<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @pattern.content %>
</p>

<p>
  <strong>Guess state:</strong>
  <%= @pattern.guess_state %>
</p>

<%= link_to 'Edit', edit_pattern_path(@pattern) %> |
<%= link_to 'Back', patterns_path %>
